* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}

body {
  background-color: hsl(218, 23%, 16%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  /* background: rgb(145, 145, 233); */
  background-image: url("assets/skyimage3.jpg");
  width: 480px;
  border-radius: 15px;
  padding: 40px;
  padding-right: 10px;
  padding-left: 10px;
}

.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.inputText {
  border-radius: 10px;
  height: 40px;
  border: none;
  padding-left: 10px;
}

.buttonContainer {
  background-color: wheat;
  background-image: url("assets/search.png");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 15px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  cursor: pointer;
  border: none;
}

.temperature {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 50px;
  margin-top: -20px;

  color: black;
  text-shadow:
    -1px -1px 0 #ffffff,
    1px -1px 0 #ffffff,
    -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff;
}

.weatherImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.cityName {
  font-size: 24px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  margin-top: 5px;
  color: black;
  text-shadow:
    -1px -1px 0 #e4e3e3,
    1px -1px 0 #e4e3e3,
    -1px 1px 0 #e4e3e3,
    1px 1px 0 #e4e3e3;
}

.weatherDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.windSection,
.humiditySection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.humiditySection {
  margin-left: 45px;
}

.windImg {
  width: 50%;
  height: auto;
}

.humidityImg {
  width: 70%;
  height: auto;
}

.windValue,
.humidityValue {
  margin-left: 15px;
  font-weight: 600;
  font-size: 19px;
  color: white;
  /* Ustawienie koloru tekstu na biały */
  text-shadow:
    -1px -1px 0 #000,
    /* Czarna obwódka z góry-lewej strony */
    1px -1px 0 #000,
    /* Czarna obwódka z góry-prawej strony */
    -1px 1px 0 #000,
    /* Czarna obwódka z dołu-lewej strony */
    1px 1px 0 #000;
}

.windValue {
  width: 100%;
}

.weatherDetailsTexts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  font-weight: 700;
  color: white;
  /* Ustawienie koloru tekstu na biały */
  text-shadow:
    -1px -1px 0 #000,
    /* Czarna obwódka z góry-lewej strony */
    1px -1px 0 #000,
    /* Czarna obwódka z góry-prawej strony */
    -1px 1px 0 #000,
    /* Czarna obwódka z dołu-lewej strony */
    1px 1px 0 #000;
}

.humidityText {
  margin-top: 15px;
  margin-left: 45px;
}